/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F3F5F7;
}

/* regole header */
#main-header {
    padding: 10px;
    margin: 0px;
    background-color: #ffffff;
}

#logo {
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
}

#logo-text {
    color: #000;
    font-size: 50px;
    vertical-align: middle;
    font-weight: 700;
}

/* regole contenuto principale */
.container{
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

/* tasti task e section */
#add-task{
    background-color: #3AACEB;
    color: #F5F7F9;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 10px;
    border-color: #3AACEB;
}

#add-section{
    background-color: #FEFEFD;
    color: #C6C6C6;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 10px;
    border-color: #C6C6C6;
}

/* liste */
ul{
    list-style-type: none;
}

figure{
    display: inline-block;
    vertical-align: middle;
}

.testo-riga{
    font-size: 16px;
}

/* editing punti lista */
.freccia-giu{
    width: 20px;
}

.mark-check{
    width: 10px;
}

.mark-cross{
    width: 10px;
}

/* editing pill */
.pill-editorial{
    background-color: #37A7DF;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.pill-Q1{
    background-color: #936ED9;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.pill-recruiting{
    background-color: #55BDA2;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.pill-mobile{
    background-color: #EF9341;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.pill-website{
    background-color: #CC588F;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.pill-sales{
    background-color: #A7C344;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}
